html, body {
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 700px;
}

html, body {
    //background: rgb(44,42,56);
    //color: white;
}
a {
    text-decoration: none;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
