html, body {
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 700px;
    font-size: 10px;
}

html, body {
    //background: rgb(44,42,56);
    //color: white;
}
a {
    text-decoration: none;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}


$scrollbar-width:10px;
div{
    &::-webkit-scrollbar {
        width: $scrollbar-width;
        height: 10px;
        background: #F1F1F1;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #C1C1C1;

        &:hover {
            background: #a8a8a8;
        }

        &:active {
            background: #787878;
        }
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #F1F1F1;
    }
}
